name: Deploy Only
on:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the artifact to deploy"
        required: true
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs['artifact-name'] }}
      - name: Deploy application
        run: echo "Deploying application..."
