name: Deploy Only
on:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the artifact to deploy"
        required: true
        default: dist
        type: string
      some-other-input:
        description: "Some other input for deployment"
        required: false
        type: string
    secrets:
      DEPLOYMENT_TOKEN:
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          # Using dot notation
          name: ${{ inputs.artifact-name }}

      - name: Deploy application
        # Using dot notation (spelling fixed to "input")
        run: |
          echo "Deploying application...with some other input: ${{ inputs.some-other-input }} and secrets: ${{ secrets.DEPLOYMENT_TOKEN }} "
